{% extends 'main.html'%}
{% block crud_container %}

    {% if user %}
        <article class="card container fluid">
            <br>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{user}}<a href="/user/{{user.id}}">{{user.id}}, {{user.username}}, {{user.age}}</a>
            </ul>
        </article>
        <br>
        <!-- Напишите свой код здесь (Вывод свойств объекта User) -->
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for user in users %}
                        <li class="list-group-item">{{user.id}} <a href="/user/{{user.id}}">{{user.username}}</a></li>
                        {% endfor %}
                        <!-- Напишите свой код здесь (перебор пользователей) -->
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}
